[Unit]
Description=OccupancyD
After=network.target auditd.service

[Service]
ExecStart=/usr/local/bin/occupancyd -db ~/.occupancyd/db

Restart=always
Type=simple
RestartSec=10s

[Install]
WantedBy=default.target
